name: Build and Deploy to AWS

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  JAR_FILENAME: Lobby-Platform
  ARTIFACT_NAME: backend-app
  SYSTEMD_SERVICE_NAME: lobby-platform

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  build:
    name: Build on GitHub
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: git checkout
        uses: actions/checkout@v3

      # Setup JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      # Maven Verify
      - name: Maven Verify
        run: mvn -B verify -DJAR_FILENAME=${{ env.JAR_FILENAME }}

      # Dump GitHub Context
      - name: Dump GitHub Context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo "$GITHUB_CONTEXT" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
