name: Build and Deploy to Azure
run-name: "Production Deployment #${{ github.run_number }}"

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for Azure login
  contents: read # This is required for actions/checkout
  packages: write # This is required for publishing the package

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/template-ci-build.yml

  deploy:
    name: Deploy to Azure
    runs-on: ubuntu-latest
    needs: ci
    environment: production
    env:
      AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      AZURE_APPSVC_NAME: ${{ vars.AZURE_APPSVC_NAME }}
      AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
    steps:
      # Az Login
      - name: Az Login
        uses: azure/login@v1
        with:
          client-id: ${{ env.AZURE_CLIENT_ID }}
          tenant-id: ${{ env.AZURE_TENANT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}

      # Set App Service Image to Latest
      - name: Set App Service Image to Latest
        run: |
          az webapp config container set \
            --name ${{ env.AZURE_APPSVC_NAME }} \
            --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
            --container-image-name ${{ needs.ci.outputs.image }}

          az webapp restart \
            --name ${{ env.AZURE_APPSVC_NAME }} \
            --resource-group ${{ env.AZURE_RESOURCE_GROUP }}



