name: Reusable Build Workflow

on:
  workflow_call:
    inputs:
      push-image:
        description: "Whether to push the Docker image to the registry"
        required: false
        type: boolean
        default: true
    outputs:
      image:
        description: "The full Docker image with registry/repository:tag"
        value: ${{ jobs.build.outputs.image }}

env:
  JAR_FILENAME: Lobby-Platform
  JAR_OUTPUT_PATH: spring/target
  DOCKERFILE_PATH: docker/Dockerfile
  CONTAINER_REGISTRY: ${{ vars.CONTAINER_REGISTRY }}
  CONTAINER_REPOSITORY: ${{ vars.CONTAINER_REPOSITORY }}

permissions:
  contents: read # This is required for actions/checkout
  packages: write # This is required for publishing the package

jobs:
  build:
    name: Build on GitHub
    runs-on: ubuntu-latest
    outputs:
      image: ${{ env.CONTAINER_REGISTRY }}/${{ env.CONTAINER_REPOSITORY }}:${{ github.sha }}

    steps:
      # Checkout the repo
      - name: git checkout
        uses: actions/checkout@v3

      # Setup JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "corretto"

      # Maven Verify
      - name: Maven Verify
        run: ./mvnw -B verify -DJAR_FILENAME=${{ env.JAR_FILENAME }}

      # Upload Artifact
      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: jar-artifact
          path: ${{ env.JAR_OUTPUT_PATH }}/${{ env.JAR_FILENAME }}.jar

      # Docker Build
      - name: Docker Build
        shell: pwsh
        run: docker build `
          -t ${{ env.CONTAINER_REGISTRY }}/${{ env.CONTAINER_REPOSITORY }}:${{ github.sha }} `
          -f ${{ env.DOCKERFILE_PATH }} `
          --build-arg JAR_FILENAME=${{ env.JAR_OUTPUT_PATH }}/${{ env.JAR_FILENAME }}.jar `
          .

      # Login to GitHub Container Registry
      - name: Login to GitHub Container Registry
        if: ${{ inputs.push-image }}
        uses: docker/login-action@v2
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Docker Push
      - name: Docker Push
        if: ${{ inputs.push-image }}
        run: docker push ${{ env.CONTAINER_REGISTRY }}/${{ env.CONTAINER_REPOSITORY }}:${{ github.sha }}
